:root {
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #1d1e23;
  --color-highlight: #262830;
  --color-border: #5d90ee;
}

html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: rgba(255, 255, 255, 0.87);
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--color-bg);
}

.app-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  height: 60%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content.mounted {
  opacity: 1;
}

.content-block {
  width: 30%;
  max-width: 440px;
  height: 30%;
  max-height: 300px;
  padding: 1rem;
  overflow: hidden;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border: 2px solid var(--color-border);
  background-color: var(--color-highlight);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-bg);
    background-color: #fff;
  }
}